@page "/"
@using Syncfusion.Blazor.Grids
@using ODataBatchUIDemo.Models.Students

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row">
			<SfGrid @ref=Grid
					DataSource="@Students"
					Toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" })"
					AllowPaging="true">

				<GridEditSettings AllowAdding="true"
								  AllowDeleting="true"
								  AllowEditing="true"
								  Mode="EditMode.Batch" />

				<GridEvents TValue=Student
							OnBatchSave=OnBatchSave />

				<GridColumns>
					<GridColumn Field=@nameof(Student.Id)
								HeaderText="ID"
								IsPrimaryKey="true"
								ValidationRules="@(new ValidationRules{ Required=true})"
								TextAlign="TextAlign.Right"
								Width="140" />

					<GridColumn Field=@nameof(Student.FirstName)
								HeaderText="First Name"
								ValidationRules="@(new ValidationRules{ Required=true})"
								Width="150" />

					<GridColumn Field=@nameof(Student.MiddleName)
								HeaderText="Middle Name"
								ValidationRules="@(new ValidationRules{ Required=true})"
								Width="150" />

					<GridColumn Field=@nameof(Student.LastName)
								HeaderText="Last Name"
								ValidationRules="@(new ValidationRules{ Required=true})"
								Width="150" />
				</GridColumns>
			</SfGrid>
		</div>
	</div>
</div>
